body {
  font-family: "Lato", "Roboto", sans-serif;
  color: #574c31;
  background-color: #cfc1af;
  overflow-x: hidden;
}

.main {
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: rgb(87, 76, 49);
}

section {
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  margin-bottom: 50px;
}

h2 {
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin: 20px 0;
  padding: 0 10px;
}

@-webkit-keyframes puls {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes puls {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.slider-wrap {
  position: relative;
}

.slider-line {
  width: 600px;
  height: 500px;
}
.slider-line img {
  width: 100%;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 5px 2px rgb(87, 76, 49);
          box-shadow: 0 0 5px 2px rgb(87, 76, 49);
}
@media (max-width: 991px) {
  .slider-line {
    width: 400px;
    height: 300px;
  }
}
@media (max-width: 500px) {
  .slider-line {
    width: 300px;
    height: 200px;
  }
}
@media (max-width: 400px) {
  .slider-line {
    width: 280px;
    height: 180px;
  }
}

.slider-control {
  position: absolute;
  width: 40px;
  height: 40px;
  cursor: pointer;
  font-size: 70px;
  font-weight: bold;
  color: rgb(87, 76, 49);
  border-top: 3px solid rgb(242, 206, 77);
  border-right: 3px solid rgb(242, 206, 77);
}

.control-wrap {
  position: relative;
  width: 400px;
  height: 300px;
}

.slider-btn-prev {
  top: 50%;
  left: 0;
  -webkit-transform: rotate(-135deg) translate(-50%, 50%);
          transform: rotate(-135deg) translate(-50%, 50%);
}

.slider-btn-next {
  top: 50%;
  right: 0;
  -webkit-transform: rotate(45deg) translate(-50%, 50%);
          transform: rotate(45deg) translate(-50%, 50%);
}

@keyframes puls {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes movement {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes movement {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.header {
  background-color: #f2ce4d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  height: 100vh;
  color: #574c31;
  gap: 50px;
  padding: 0;
}

.btn_phone {
  font-size: 18px;
  font-weight: 700;
  padding: 10px 20px;
  border: none;
  color: inherit;
  background-color: transparent;
  background-color: #047e79;
  color: #cfc1af;
  cursor: pointer;
  border-radius: 20px;
  text-transform: uppercase;
  -webkit-box-shadow: 1px 1px 2px 0px rgba(87, 76, 49, 0.5);
          box-shadow: 1px 1px 2px 0px rgba(87, 76, 49, 0.5);
  position: fixed;
  bottom: 5%;
  right: 5%;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  z-index: 9999;
  -webkit-box-shadow: 0px 0px 15px 5px rgba(4, 126, 121, 0.4);
          box-shadow: 0px 0px 15px 5px rgba(4, 126, 121, 0.4);
  -webkit-animation: puls 2s ease-out infinite normal;
          animation: puls 2s ease-out infinite normal;
}
.btn_phone:hover {
  background-color: #cfc1af;
  color: #047e79;
  -webkit-box-shadow: 0px 0px 8px 8px rgba(87, 76, 49, 0.3);
          box-shadow: 0px 0px 8px 8px rgba(87, 76, 49, 0.3);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.btn_phone:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.btn_phone__img {
  position: absolute;
  width: 70px;
  top: 0;
  left: 0;
}
.btn_phone__img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.nav {
  position: fixed;
  top: 15%;
  left: 2%;
  z-index: 99;
  background-color: rgba(245, 128, 13, 0.3);
  border-radius: 20px;
  padding: 15px;
  overflow: hidden;
  display: none;
}

.nav__select-menu {
  width: 50px;
  height: 50px;
  position: fixed;
  z-index: 99;
  top: 2%;
  left: 2%;
  border-radius: 50%;
  -webkit-animation: round 12s linear infinite normal;
          animation: round 12s linear infinite normal;
}
.nav__select-menu:hover {
  background-color: #f5800d;
  cursor: pointer;
}

.nav__line {
  width: 5px;
  height: 100%;
  background-color: #a69565;
  position: absolute;
  left: 10%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  z-index: -1;
  -webkit-box-shadow: 0px 0px 58px 5px rgba(207, 193, 175, 0.5);
          box-shadow: 0px 0px 58px 5px rgba(207, 193, 175, 0.5);
}
.nav__line .nav__progress {
  width: 5px;
  background: rgb(242, 206, 77);
  -webkit-box-shadow: 2px, 2px, 15px, 2px, #f2ce4d;
          box-shadow: 2px, 2px, 15px, 2px, #f2ce4d;
  height: 0;
}

.nav__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  font-size: 15px;
  color: #fff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  z-index: 9;
  background-color: #f5800d;
  border-radius: 10px;
  padding: 5px;
  -webkit-box-shadow: 0px 0px 20px 3px rgba(207, 193, 175, 0.5);
          box-shadow: 0px 0px 20px 3px rgba(207, 193, 175, 0.5);
  font-size: 20px;
  font-weight: 500;
}
.nav__li:hover {
  color: #f5800d;
  background-color: rgb(242, 206, 77);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.nav__li .nav__icon {
  width: 30px;
  height: 30px;
  -webkit-animation: round 5s linear infinite normal;
          animation: round 5s linear infinite normal;
  border-radius: 50%;
  background-color: #f5800d;
}
.nav__li .nav__icon:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.header__wrap-cover {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100vh;
  width: 100vw;
  z-index: 2;
  background-color: rgba(225, 189, 58, 0.5);
}

.header__wrap-text {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}
@media (max-width: 520px) {
  .header__wrap-text {
    gap: 30px;
  }
}

.header__title {
  font-size: 70px;
  font-weight: 900;
  text-align: center;
}
@media (max-width: 520px) {
  .header__title {
    font-size: 40px;
  }
}

.header__subtitle {
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin: 20px 0;
  padding: 0 10px;
}

.header__wrap-img {
  position: relative;
  margin: 10px;
  z-index: 55;
}

.header__img {
  min-width: 280px;
  min-height: 280px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-animation: headerLane 40s linear infinite normal;
          animation: headerLane 40s linear infinite normal;
  z-index: 999;
}

@-webkit-keyframes headerLane {
  0% {
    background-image: url(../img/figure/1.png);
  }
  20% {
    background-image: url(../img/figure/1.png);
  }
  21% {
    background-image: url(../img/figure/2.png);
  }
  35% {
    background-image: url(../img/figure/2.png);
  }
  36% {
    background-image: url(../img/figure/4.png);
  }
  65% {
    background-image: url(../img/figure/4.png);
  }
  66% {
    background-image: url(../img/figure/6.png);
  }
  100% {
    background-image: url(../img/figure/6.png);
  }
}

@keyframes headerLane {
  0% {
    background-image: url(../img/figure/1.png);
  }
  20% {
    background-image: url(../img/figure/1.png);
  }
  21% {
    background-image: url(../img/figure/2.png);
  }
  35% {
    background-image: url(../img/figure/2.png);
  }
  36% {
    background-image: url(../img/figure/4.png);
  }
  65% {
    background-image: url(../img/figure/4.png);
  }
  66% {
    background-image: url(../img/figure/6.png);
  }
  100% {
    background-image: url(../img/figure/6.png);
  }
}
.header__circle {
  position: absolute;
  top: 40%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  right: -10%;
  min-width: 300px;
  min-height: 300px;
  background-color: #f5800d;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 58px 25px rgba(207, 193, 175, 0.5);
          box-shadow: 0px 0px 58px 25px rgba(207, 193, 175, 0.5);
  z-index: -1;
}

.header__btn {
  font-size: 18px;
  font-weight: 700;
  padding: 10px 20px;
  border: none;
  color: inherit;
  background-color: transparent;
  background-color: #047e79;
  color: #cfc1af;
  cursor: pointer;
  border-radius: 20px;
  text-transform: uppercase;
  -webkit-box-shadow: 1px 1px 2px 0px rgba(87, 76, 49, 0.5);
          box-shadow: 1px 1px 2px 0px rgba(87, 76, 49, 0.5);
}
.header__btn:hover {
  background-color: #cfc1af;
  color: #047e79;
  -webkit-box-shadow: 0px 0px 8px 8px rgba(87, 76, 49, 0.3);
          box-shadow: 0px 0px 8px 8px rgba(87, 76, 49, 0.3);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__inner-bubbles {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}

.header__bubble {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #fff;
  -webkit-box-shadow: 5px 5px 15px 5px #fff;
          box-shadow: 5px 5px 15px 5px #fff;
  -webkit-animation: animBubbles 30s linear infinite;
          animation: animBubbles 30s linear infinite;
  -webkit-animation-duration: calc(60s / var(--i));
          animation-duration: calc(60s / var(--i));
}

@-webkit-keyframes animBubbles {
  0% {
    -webkit-transform: translateY(-10vh) scale(0);
            transform: translateY(-10vh) scale(0);
  }
  100% {
    -webkit-transform: translateY(100vh) scale(1);
            transform: translateY(100vh) scale(1);
  }
}

@keyframes animBubbles {
  0% {
    -webkit-transform: translateY(-10vh) scale(0);
            transform: translateY(-10vh) scale(0);
  }
  100% {
    -webkit-transform: translateY(100vh) scale(1);
            transform: translateY(100vh) scale(1);
  }
}
.program__text {
  font-weight: normal;
  font-size: 20px;
  padding: 0 10px;
  margin-bottom: 20px;
  text-align: center;
}

.program__card {
  border: #047e79 solid 2px;
  border-radius: 20px;
  max-width: 200px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 58px 5px rgba(142, 142, 142, 0.5);
          box-shadow: 0px 0px 58px 5px rgba(142, 142, 142, 0.5);
  color: #047e79;
}

.program__card-img {
  width: 100%;
  max-height: 200px;
  border-radius: 20px 20px 0 0;
}

.program__card-text {
  font-weight: normal;
  font-size: 20px;
  padding: 0 10px;
  padding: 2px 15px;
}
.program__card-text:first-letter {
  color: #f5800d;
}

.program__ul {
  position: relative;
}

.program__list {
  font-size: 14px;
  font-weight: normal;
  padding: 4px 8px;
}
.program__list:hover {
  scale: 1.3;
  -webkit-transform: translate(10%, 0);
          transform: translate(10%, 0);
  background-color: #fff;
  border-radius: 8px;
  translate: 1s;
  -webkit-box-shadow: 0px 0px 5px 3px rgba(125, 125, 125, 0.5);
          box-shadow: 0px 0px 5px 3px rgba(125, 125, 125, 0.5);
  max-width: 450px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.program__list::before {
  content: "* ";
}

.program__wrap-item {
  font-weight: normal;
  font-size: 20px;
  padding: 0 10px;
  background-color: #fff;
  border-radius: 8px;
  padding: 15px;
  max-width: 90%;
  margin: 0 auto;
  text-align: center;
}

.program__wrap-text {
  text-align: left;
}

.program__title-item {
  color: #047e79;
  font-weight: 700;
  font-size: 29px;
  text-align: center;
  text-transform: uppercase;
}

.program__subtitle-item {
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin: 20px 0;
  padding: 0 10px;
  color: #000;
}

.program__inner-img {
  max-width: 150px;
}

.program__inner-title {
  text-align: left;
  background-color: #047e79;
  color: #cfc1af;
  padding: 10px 0 10px 30px;
  font-size: 22px;
  position: relative;
}
.program__inner-title::before {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: 40px solid transparent;
  border-right: 20px solid rgb(255, 255, 255);
}
.program__inner-title::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: 40px solid transparent;
  border-left: 20px solid rgb(255, 255, 255);
}
.program__inner-title:hover {
  background-color: #cfc1af;
  color: #047e79;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.program__inner-subtitle {
  text-align: left;
  color: rgb(87, 76, 49);
  font-weight: normal;
  font-size: 20px;
  padding: 0 10px;
  display: none;
}

.place__title {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin: 20px 0;
  padding: 0 10px;
}

.place__text {
  font-weight: normal;
  font-size: 20px;
  padding: 0 10px;
  text-align: center;
  margin: 20px 0;
}

.place__wrap-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 15px;
}

.place__img {
  max-width: 320px;
  max-height: 320px;
  border-radius: 8px;
}
.place__img:hover {
  scale: 1.2;
}
@media (max-width: 500px) {
  .place__img {
    max-width: 250px;
  }
  .place__img:hover {
    scale: 1;
  }
}

.teachers__title {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin: 20px 0;
  padding: 0 10px;
}

.teachers__subtitle {
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin: 20px 0;
  padding: 0 10px;
}

.teachers__text {
  font-weight: normal;
  font-size: 20px;
  padding: 0 10px;
  text-align: center;
}

.teachers__wrap-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  margin: 20px 0;
}

.teachers__card {
  max-width: 250px;
  border: rgb(87, 76, 49) solid 2px;
  border-radius: 20px 20px 0 0;
  -webkit-box-shadow: 0px 0px 58px 5px rgba(142, 142, 142, 0.5);
          box-shadow: 0px 0px 58px 5px rgba(142, 142, 142, 0.5);
}
.teachers__card:hover {
  scale: 1.1;
}
@media (max-width: 700px) {
  .teachers__card {
    max-width: 200px;
  }
  .teachers__card:hover {
    scale: 1;
  }
}

.teachers__img {
  max-width: 250px;
  border-radius: 20px 20px 0 0;
}
@media (max-width: 700px) {
  .teachers__img {
    max-width: 200px;
  }
}

.teachers__card-title {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin: 20px 0;
  padding: 0 10px;
  font-size: 18px;
  margin: 10px 0;
}

.teachers__card-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 8px;
}

.teachers__li {
  font-weight: normal;
  font-size: 20px;
  padding: 0 10px;
  font-size: 16px;
}
.teachers__li::before {
  content: "* ";
}

.calender {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.calender_img {
  max-width: 100px;
}

.calender__wrap-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  background-color: #fff;
  border-radius: 8px;
  max-width: 450px;
  border: #f5800d 1px solid;
  -webkit-box-shadow: 0px 0px 58px 5px rgba(142, 142, 142, 0.5);
          box-shadow: 0px 0px 58px 5px rgba(142, 142, 142, 0.5);
  margin: 0 auto;
}

.calender__title {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin: 20px 0;
  padding: 0 10px;
  color: #f5800d;
  margin-bottom: 0;
}

.calender__text {
  font-weight: normal;
  font-size: 20px;
  padding: 0 10px;
  text-align: center;
  max-width: 600px;
  font-size: 14px;
}

.calender__date {
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin: 20px 0;
  padding: 0 10px;
  background-color: rgb(242, 206, 77);
  border-radius: 8px;
  padding: 20px;
  margin: 0;
  cursor: pointer;
}
.calender__date:last-child {
  margin-bottom: 20px;
}
.calender__date:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #f5800d;
}

.price__img-wrap {
  position: fixed;
  bottom: 5%;
  left: 5%;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
  background-color: rgba(242, 206, 77, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 99999;
}
.price__img-wrap:hover {
  background-color: rgb(242, 206, 77);
}

.price-img {
  width: 60px;
  height: 60px;
  -webkit-animation: puls 2s ease-in-out infinite normal;
          animation: puls 2s ease-in-out infinite normal;
}
.price-img:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.price__title {
  font-weight: 700;
  color: #cfc1af;
  font-size: 22px;
  text-align: center;
}

.price__cart {
  border-radius: 8px;
  position: fixed;
  width: 270px;
  height: 300px;
  bottom: 1%;
  left: 1%;
  z-index: 99999;
}

.price__item {
  padding: 8px;
  background-color: rgb(87, 76, 49);
  border-radius: 8px;
  color: #cfc1af;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  gap: 10px;
}

.price__text {
  font-weight: normal;
  font-size: 20px;
  padding: 0 10px;
  padding: 8px;
  text-align: center;
  font-size: 18px;
}

.price__btn {
  font-size: 18px;
  font-weight: 700;
  padding: 10px 20px;
  border: none;
  color: inherit;
  background-color: transparent;
  background-color: #047e79;
  color: #cfc1af;
  cursor: pointer;
  border-radius: 20px;
  text-transform: uppercase;
  -webkit-box-shadow: 1px 1px 2px 0px rgba(87, 76, 49, 0.5);
          box-shadow: 1px 1px 2px 0px rgba(87, 76, 49, 0.5);
  margin-bottom: 5px;
}
.price__btn:hover {
  background-color: #cfc1af;
  color: #047e79;
  -webkit-box-shadow: 0px 0px 8px 8px rgba(87, 76, 49, 0.3);
          box-shadow: 0px 0px 8px 8px rgba(87, 76, 49, 0.3);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.price__num {
  font-weight: bold;
  font-size: 22px;
}

.history {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.history__text {
  font-weight: normal;
  font-size: 20px;
  padding: 0 10px;
  margin: 20px;
}

.history__wrap-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.history__img-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 40px;
  padding: 15px;
}

.history__icon-finger {
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: 5px;
  left: 50%;
  border-radius: 50%;
}

.form {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  background-color: #cfc1af;
  border-radius: 8px;
  padding: 8px 15px 8px 8px;
  z-index: 99;
  gap: 10px;
  border: 2px solid rgb(87, 76, 49);
  display: none;
  -webkit-box-shadow: 0 0 550px 5550px rgba(87, 76, 49, 0.6);
          box-shadow: 0 0 550px 5550px rgba(87, 76, 49, 0.6);
}
@media (max-width: 596px) {
  .form {
    width: 100vw;
    height: 100vh;
    top: 0%;
    left: 0%;
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
}

.form__cross {
  font-size: 50px;
  font-weight: 600;
  position: absolute;
  right: -5%;
  top: -15%;
  color: #cfc1af;
  border-radius: 8px;
  background-color: #047e79;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
  height: 50px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.form__cross:hover {
  background-color: #cfc1af;
  color: #047e79;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border: 1px solid #047e79;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
@media (max-width: 1000px) {
  .form__cross {
    right: 0%;
    top: 50%;
    -webkit-transform: translate(50%, -50%) rotate(45deg);
            transform: translate(50%, -50%) rotate(45deg);
  }
}
@media (max-width: 596px) {
  .form__cross {
    left: 5%;
    top: 5%;
    -webkit-transform: translate(0%, 0%) rotate(45deg);
            transform: translate(0%, 0%) rotate(45deg);
  }
}

.form__cross-item:hover {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.form__text {
  font-weight: normal;
  font-size: 20px;
  padding: 0 10px;
  font-size: 18px;
  font-weight: 700;
  margin: 4px 0;
  text-align: left;
}

.form__field {
  width: 90%;
  height: 30px;
  border: #047e79 2px solid;
  border-radius: 8px;
  padding: 8px;
  font-size: 16px;
  font-weight: 600;
  color: #047e79;
}
.form__field:focus {
  outline: none;
  border: #047e79 2px solid;
  -webkit-box-shadow: 0 0 2px 1px #047e79;
          box-shadow: 0 0 2px 1px #047e79;
}

.form__select {
  width: 90%;
  height: 50px;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  border: #047e79 2px solid;
  border-radius: 8px;
  padding: 4px 0;
  color: #047e79;
  cursor: pointer;
}
.form__select:focus {
  outline: none;
  border: #047e79 2px solid;
  -webkit-box-shadow: 0 0 2px 1px #047e79;
          box-shadow: 0 0 2px 1px #047e79;
}

.form__option {
  background: #fff;
  color: #047e79;
  font-size: 18px;
  font-weight: 600;
}
.form__wrap-checkbox {
  font-weight: normal;
  font-size: 20px;
  padding: 0 10px;
}

.form__btn {
  font-size: 18px;
  font-weight: 700;
  padding: 10px 20px;
  border: none;
  color: inherit;
  background-color: transparent;
  background-color: #047e79;
  color: #cfc1af;
  cursor: pointer;
  border-radius: 20px;
  text-transform: uppercase;
  -webkit-box-shadow: 1px 1px 2px 0px rgba(87, 76, 49, 0.5);
          box-shadow: 1px 1px 2px 0px rgba(87, 76, 49, 0.5);
}
.form__btn:hover {
  background-color: #cfc1af;
  color: #047e79;
  -webkit-box-shadow: 0px 0px 8px 8px rgba(87, 76, 49, 0.3);
          box-shadow: 0px 0px 8px 8px rgba(87, 76, 49, 0.3);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.form__inner-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  gap: 5px;
  width: 90%;
}

.form__inner-input--whatsApp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#WhatsApp {
  width: 70px;
  height: 35px;
}

.form__error .form__field {
  border: #f5800d 3px solid;
}

.form__error-label {
  color: #f5800d;
  font-weight: bold;
  font-size: 14px;
}

.form__modal {
  width: 500px;
  height: 300px;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  background-color: #cfc1af;
  border-radius: 8px;
  padding: 8px;
  z-index: 999;
  gap: 40px;
  border: 2px solid rgb(87, 76, 49);
  text-align: center;
  display: none;
  -webkit-box-shadow: 0 0 50px 10px rgba(87, 76, 49, 0.6);
          box-shadow: 0 0 50px 10px rgba(87, 76, 49, 0.6);
}
@media (max-width: 596px) {
  .form__modal {
    width: 100vw;
    height: 100vh;
    top: 0%;
    left: 0%;
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
}
.form__modal .form__modal-cross {
  font-weight: bold;
  font-size: 60px;
  position: absolute;
  top: 2%;
  right: 6%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  cursor: pointer;
}
.form__modal .form__modal-cross:hover {
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.form__modal-text {
  font-weight: bold;
  font-size: 22px;
}

.form__modal-text--quote {
  font-style: italic;
}
.form__modal-text--quote span {
  font-weight: bold;
}

.footer {
  background-color: rgb(87, 76, 49);
  width: 100vw;
  padding: 15px;
  color: #cfc1af;
}

.footer__wrap-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 15px;
  gap: 40px;
}

.footer__logo {
  width: 50px;
  height: 50px;
  -webkit-animation: puls 2s linear infinite normal;
          animation: puls 2s linear infinite normal;
}
.footer__logo:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.footer__link:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: rgb(242, 206, 77);
  border-radius: 50%;
}

.footer__title {
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin: 20px 0;
  padding: 0 10px;
  font-size: 16px;
}

.footer__text {
  font-weight: normal;
  font-size: 20px;
  padding: 0 10px;
  font-size: 16px;
  text-align: center;
}

.active-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.active-block {
  display: block;
}

.hidden {
  display: none;
}