.price__img-wrap{
  position: fixed;
  bottom: 5%;
  left: 5%;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  transition: 0.5s;
  cursor: pointer;
  background-color: rgba(242, 206, 77, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999;
  &:hover{
     background-color: rgba(242, 206, 77, 1.0);
    
  }
}
.price-img{
  width: 60px;
  height: 60px;
  animation: puls 2s ease-in-out infinite normal;  
  &:hover{
    animation-play-state: paused;
  }
}
.price__title{
  font-weight: 700;
  color: $pinkish;
  font-size: 22px;
  text-align: center;
}
.price__cart{
  border-radius: 8px;
  position: fixed;
  width: 270px;
  height: 300px;
  bottom: 1%;
  left: 1%;
   z-index: 99999;
}
.price__item {
  padding: 8px;
  background-color: $brown;
  border-radius: 8px;
  color:$pinkish;
  @include flex-colum();
  gap:10px;
  
}
.price__text {
  @include font();
  padding: 8px;
  text-align: center;
  font-size: 18px;
}
.price__btn {
  @include btn();
  margin-bottom: 5px;
}
.price__num{
  font-weight: bold;
  font-size: 22px;
  
}