.slider-wrap{
  position: relative;
}
.slider-line{
  width: 600px;
  height: 500px;
  
  img{
    width: 100%;
    border-radius:8px;
    box-shadow: 0 0 5px 2px $brown;
  }
  @media (max-width: 991px) {
      width: 400px;
  height: 300px;
  }
  @media (max-width: 500px) {
    width: 300px;
    height: 200px;
  }
  @media (max-width: 400px) {
    width: 280px;
    height: 180px;
  }
}
.slider-control {
  position: absolute;
  width: 40px;
  height: 40px;
  cursor: pointer;
  font-size: 70px;
  font-weight: bold;
  color: $brown;
  border-top: 3px solid $yellow;
  border-right: 3px solid $yellow; 
}
.control-wrap{
  position: relative;
  width: 400px;
  height: 300px;
}
.slider-btn-prev{
  top: 50%;
  left: 0;
  transform: rotate(-135deg) translate(-50%,50%);  
}
.slider-btn-next{
  top: 50%;
  right:0;
  transform: rotate(45deg)translate(-50%,50%);
}