.teachers__title {
	@include title();
}
.teachers__subtitle {
	@include subtitle();
}
.teachers__text {
	@include font();
	text-align: center;
}
.teachers__wrap-item {
	@include flex-center();
	align-items: start;
	margin: 20px 0;
	// @media (max-width:700px) {
	// 	max-width: 260px;
	// 	overflow: hidden;
	// 	position: relative;
	// }
}

.teachers__card {
	max-width: 250px;
	border: $brown solid 2px;
	border-radius: 20px 20px 0 0;
	box-shadow: 0px 0px 58px 5px rgba(142, 142, 142, 0.5);
	;
	&:hover {
		scale: 1.1;
	}
	@media (max-width: 700px) {
		max-width: 200px;
		
		&:hover {
		scale: 1;
	}
	}
}
.teachers__img {
	max-width: 250px;
	border-radius: 20px 20px 0 0;
	@media (max-width: 700px) {
		max-width: 200px;
	}
}

.teachers__card-title {
	@include title();
	font-size: 18px;
	margin: 10px 0;
}
.teachers__card-ul {
	@include flex-colum();
	align-items: flex-start;
	padding: 8px;
}
.teachers__li {
	@include font();
	font-size: 16px;
	&::before {
		content: '* ';
	}
}
